
<div class="search-banner">
  <%= form_tag tools_path, method: :get, class: 'form-inline d-flex' do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control flex-fill mr-1",
      placeholder: "Find a tool"
    %>
    <%= submit_tag "Search", class: "button-red" %>
  <% end %>
</div>

<div id="map"
     style="width: 100%; height: 500px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<h1 class="title-container">Find your tool</h1>
<div class="container">
  <div class="cards-grid">
    <% @tools.each do |tool| %>
    <div class="card-trip">
        <%= link_to tool_path(tool) do  %>
          <% if tool.photo.attached? %>
            <%= cl_image_tag tool.photo.key, height: 300, width: 400, crop: :fill %>
          <% else %>
            <%= cl_image_tag "tool_default_index.jpg" %>
          <% end %>
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2 class="card-title"><%=tool.title.capitalize  %></h2>
            <br>
            <p><%= tool.description %></p>
          </div>
          <div>
            <h3 class="price center">€<%=tool.price  %>/day</h3>
          </div>
        </div>
          <div class="card-bottom">
            <p><strong><%= tool.address.capitalize %></strong></p>
            <i class="fas fa-map-marked-alt"></i>
          </div>
    </div>
    <% end %>
    <br>
  </div>

</div>
