
<div class="container">
  <h1 class="title-new">New tool</h1>
  <div class="tool-form mb-5">
    <%= simple_form_for(@tool) do |f| %>
      <%= f.input :title, label: 'Enter title.' %>
      <%= f.input :description, label: 'Enter description.' %>
      <%= f.label :price, label: 'Enter price.'%><br>
      <%= f.number_field :price %>
      <%= f.input :address, label: 'Enter address.' %>
      <%= f.input :photo, as: :file, class: 'form-label' %>
      <div class="text-center">
        <%= f.button :submit, value: 'Create tool!', class: 'button-red' %>
      </div>
    <% end %>
  </div>
</div>
