 <div class="container d-flex m-4 jusity-content-center">
  <div class="banner d-flex align-items-center p-2">
    <div class="banner-content">
      <h1>Be a fool and create a tool!</h1>
      <p>Create a tool you want to rent out to locals.</p>
    </div>
  </div>

  <div class="d-flex p-2 bg-secondary">
    <%= simple_form_for(@tool) do |f| %>
      <%= f.input :title, label: 'Enter title.', class: 'fw-bold' %>
      <%= f.input :description, label: 'Enter description.' %>
      <%= f.label :price, label: 'Enter price.'%><br>
      <%= f.number_field :price %>
      <%= f.input :address, label: 'Enter address.' %>
      <%= f.input :photo, as: :file, class: 'form-label' %>
      <%= f.button :submit, value: 'Create tool!', class: 'btn btn-large btn-danger fw-bold' %>
    <% end %>
  </div>
</div>
