<div class="show-wrapper">
  <br>
  <div class="show-head">
  <h1><%= @tool.title.capitalize %></h1>
  <br>
  </div>

  <div class="show-grid">
    <div class="">
      <div style="height: 50%">
        <% if @tool.photo.attached? %>
          <%= cl_image_tag @tool.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <%= cl_image_tag "tool_default_show.jpg" %>
        <% end %>
      </div>

      <div id="map"
     style="width: 100%; height: 50%;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
      <div class="description-box">
        <div class="box-top">
          <h4 class="center-text">Description</h4>
          <br>
          <p class=""><%= @tool.description.capitalize %></p>
          <br>
          <br>
        </div>
        <br>
      <div class="box-bottom">

        <p><strong><i class="fas fa-map-marked-alt"></i></strong>&nbsp &nbsp<%= @tool.address.capitalize %></p>
        <p><i class="fas fa-user"></i>&nbsp &nbsp<%= @tool.user.email %></p>
      </div>
      </div>
      <div class="reservation-container">
        <%= simple_form_for [@tool, @reservation] do |f| %>
        <%= f.input :start, as: :date,  html5: true %>
        <%= f.input :end, as: :date, html5: true %>
        <%= f.submit "Book", {class: 'button-red'}%>
          <% end %>
      </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

