<nav class="navigation d-flex justify-content-between align-items-center">
  <div class="nav-left">
    <ul>
      <li>
        <%= link_to 'Home', root_path %>
      </li>
      <li>
        <%= link_to 'Find tools', tools_path %>
      </li>
      <li>
        <%= link_to 'New Tool', new_tool_path %>
      </li>
    </ul>
  </div>
  <div class="nav-center">
    <p>Tools<span style='font-size:1.5em; color: #CC1800'> 4 </span>Fools</p>
  </div>
  <div class="nav-right">
    <% if user_signed_in? %>
      <%= link_to 'My tools', reservations_path, class: 'button-red mr-3' %>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'button-border-red' %>
    <% else %>
      <%= link_to 'Register', new_user_registration_path, class: 'button-red mr-3' %>
      <%= link_to 'Sign in', new_user_session_path, class: 'button-border-red' %>
    <% end %>
  </div>
</nav>
